body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

header {
    background-color: rebeccapurple;
    color: #fff;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.project {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer {
    background: transparent;
    color: #fff;
    padding: 10px;
}

h3 {
    margin: 5;
    padding: 2;
}

body{
    background: linear-gradient(blue, red);
}

h2{
    margin: 0%;
    padding: 2%;
}


